body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
div.searchbar {
	background: #ddd;
	min-height: 10%;
	height: 10%;
	padding: 10px;
	text-align: center;
	border: 1px solid black;
}
.fillheight{
	min-height:80%;
	height: 80%;
	max-height: 80%;
	overflow-y: auto;
}
.nowplaying{
	width: 100%;
	min-width: 100%;
	background: #ddd;
	height: 10%;
	min-height: 10%;
}
.droppable-highlight {
	margin-bottom: 20px;
	border: 1px dashed #999;
	background: #ddd;
}
.nowplayingentry{
	float: left;
	border: 1px solid #999;
	margin-right: 5px;
	min-height: 90%;
	max-height: 90%;
	overflow: hidden;
	margin-top: 5px;
	width: 100px;
}
.nowplayingsong {
	border: 2px solid orange;
}
.video_thumbnail{
	position: relative;
	float: left;
}
.likes_dislikes_bar{
	position: absolute;
	bottom: 0;
	height: 3px;
	width: 100px;
	left: 0;
	background: red;
}
.likes_bar{
	background: green;
	height: 3px;
}
.duration{
	color: white;
	text-shadow: 0px 1px 1px #666;
	position: absolute;
	top: 2px;
	left: 2px;
}
.video_thumbnail img{
	position: absolute;
	top: 0;
	left: 0;
}
.video_thumbnail, .video_thumbnail img {
	height: 75px;
	width: 100px;
}
.video_title {
	margin: 0 0 0 10px;
	float: left;
	width: 50%;
	font-weight: 400;
	font-size: 16px;
}

.search-result {
	margin-top: 10px;
}

#playerWrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
}
#controls {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	top: -20px;
}
#controls button{
	border-radius: 50%;
	width: 40px;
	outline: none;
	height: 40px;
}
.playpause {
	z-index: 100;
}
.playprevious {
	position: relative;
	left: 5px;
}
.playnext {
	position: relative;
	left: -5px;
}